<div class="card">
  <div class="row align-items-center">
    <div class="col timer">
      <div *ngIf="days" class="days">
        <div class="numbers">{{ days }}</div>
        giorni
      </div>
      <div class="hours">
        <div class="numbers"> {{ hours }}</div>
        ore
      </div>
      <div class="minutes">
        <div class="numbers">{{ minutes }}</div>
        minuti
      </div>
      <div class="seconds">
        <div class="numbers">{{ seconds }}</div>
        secondi
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2 class="font-weight-light">
          {{eventDate | customDate}}
        </h2>
    </div>
  </div>
</div>
