<div class="card">
  <div class="row align-items-center">
    <div class="col-lg-6 timer">
      <div class="days">
        <div class="numbers">{{ days }}</div>
        days
      </div>
      <div class="hours">
        <div class="numbers"> {{ hours }}</div>
        hours
      </div>
      <div class="minutes">
        <div class="numbers">{{ minutes }}</div>
        minutes
      </div>
      <div class="seconds">
        <div class="numbers">{{ seconds }}</div>
        seconds
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <h2 class="font-weight-light">
          {{eventDate | customDate}}
        </h2>
    </div>
  </div>
</div>
