<div class="section d-flex align-items-center">

  <div class="card">

  <div class="title">
    <h2>Tiket evento</h2>
    <h1>{{ event.price }}€</h1>
  </div>

  <div class="payment-methods">

    <div *ngFor="let method of paymentMethods">
      <a
      *ngIf="method.url"
      class="payment-method button primary"
      [href]="method.url"
      target="_blank"
    >
        <h6>{{method.name}}</h6>
    </a>
  </div>
  <h6 class="title">Altri metodi di pagamento</h6>
    <div *ngFor="let method of paymentMethods">

        <div *ngIf="!method.url" class="payment-method payment-method-no-url">
          <div>
            <h6>{{method.name}}</h6>
            <p *ngIf="method.description">{{method.description}}</p>
          </div>
        </div>
    </div>


  </div>
  </div>
</div>
