.location-card {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 3rem;
  max-width: 300px;
  margin: auto;
}

.logo {
  scale: 1.4;
  margin-bottom: 0.5em;
}

.info h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

.info p {
  margin: 5px 0;
  text-transform: uppercase;
}
