.badge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1DB954;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

