<section class="section-banner d-flex align-items-center min-vh-100">
  <div class="container">

    <div class="row mt-5">
      <h1>uSER pROFILE</h1>
    </div>

    <div class="row mt-5">
      <form [formGroup]="userDataForm">
        <div class="col" formGroupName="personalInfo">
          <h2>Dati personali</h2>
          <div class="form-group mt-2">
            <label>Nome</label>
            <input class="form-control text-center" type="text" formControlName="firstName">
          </div>
          <div class="form-group mt-2">
            <label>Cognome</label>
            <input class="form-control" type="text" formControlName="lastName">
          </div>
          <div class="form-group mt-2">
            <label>Numero di telefono</label>
            <input class="form-control" type="text" formControlName="phoneNumber">
          </div>
          <div class="form-group mt-2">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email">
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2>Spotify</h2>
        <p class="text-center">Connetti il tuo spotify per aggiungere canzoni in coda agli eventi</p>
        <p class="text-center text-info">Disponibile solo per Spotify premium</p>
        <div class="badge-wrapper">
          <div class="badge" [ngClass]="{ 'connected': spotifyAccess }">
            <img src="./assets/spotify-logo.png" alt="Spotify Logo" class="logo">
            <span>{{ spotifyAccess ? spotifyAccess.spotify_name : 'Non Collegato' }}</span>
          </div>
          <div *ngIf="spotifyAccess">
            <button (click)="disconnectSpotify()" class="btn btn-danger m-2">Disconnetti</button>
          </div>
          <div *ngIf="!spotifyAccess">
            <button (click)="connectSpotify()" class="btn btn-dark m-2">Connetti</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userEvents.length" class="row mt-5">
      <div class="col">
        <h2>I miei Eventi</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let event of userEvents">
            <app-event-card [event]="event"></app-event-card>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="col">
        <h2 class="text-danger">Danger Zone</h2>
        <p class="text-center">Elimina il tuo account e tutti i dati ad esso associati</p>
        <p class="text-center">Dopo l'eliminazione i dati non sono più recuperabili</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger">Elimina Account</button>
        </div>
      </div>
    </div>
  </div>
</section>
