.carousel-item {
  height: auto;
  max-height: 50%;
}

img, video {
  max-height: 60vh;
}

.file-tag {
  position: relative;
  bottom: 25px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  padding: 0.6em;
  color: #eee;
  width: fit-content; 
  margin: auto;
}

