<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="card p-4">
    <div class="card-body">
      <h2 class="mb-4 text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group text-center">
          <label for="phoneNumber" class="text-center">Numero di telefono</label>
          <input type="text" class="form-control" id="phoneNumber" formControlName="phone" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div *ngIf="loginForm.controls['phone'].invalid && (loginForm.controls['phone'].dirty || loginForm.controls['phone'].touched)" class="text-danger">
            Numero di telefono non valido
          </div>
        </div>
        <div class="form-group text-center mt-2">
          <label for="password" class="text-center">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text-danger">
            Password obbligatoria
          </div>
        </div>
        <div *ngIf="loginFailed" class="alert alert-danger text-center mt-3">
          Utente o password non validi
        </div>
        <div *ngIf="loginSuccess" class="alert alert-success text-center mt-3">
          Login effettuato con successo
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
