nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.acid-glass-background {
  background-color: rgba(79, 79, 79, 0.2);
  backdrop-filter: blur(4px);
  border-radius: var(--border-radius);
  padding: 5px 10px;
  color: white;
}
