nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.acid-glass-background {
  background-color: rgba(79, 79, 79, 0.2);
  backdrop-filter: blur(4px);
  border-radius: var(--border-radius-small);
  padding: 5px 10px;
  border: none;
}

.open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-user {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 10rem;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-menu {
  border-top: 1px solid grey;
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  margin-top: 0;
}

.dropdown-item:hover {
  background-color: transparent;
}
