.timeline {
  position: relative;
  margin: auto;
  list-style: none;
  width: auto;
  max-width: 700px;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
  margin: 3em;
}

.timeline-item-content {
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  text-align: right;
}

.title {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.start-time h4 {
  font-size: 17px;
  line-height: 23px;
  color: white;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 16px;
  display: block;
  width: auto;
  text-align: center;
  padding: 5px 20px;
  position: relative;
  top: -35px;
  letter-spacing: 1px;
}

.start-time {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
