.section-banner {
  min-height: 100vh;
  position: relative;
  background: #eee no-repeat 65% 50%;
  background-size: cover;
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@keyframes bounceEffect {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.scroll-arrow i {
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  animation: bounceEffect 1.8s infinite;
}

.img-disclaimer {
  text-align: center;
  font-size: 0.5em;
  text-transform: uppercase;
}

.staff-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
}
