.section-banner {
  min-height: 700px;
  position: relative;
  background: #eee no-repeat 65% 50%;
  background-size: cover;
}

.section-banner .banner-content h1 {
  font-size: 60px;
  align-items: center;
  text-align: center;
}

.section-banner .banner-content span {
  color: #444;
  font-size: 18px;
}

.title {
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
}

.instructions {
  text-align: center;
}

.staff-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
}
