<div class="card p-2">
  <div class="card-body">
    <app-countdown *ngIf="!currentActivity" [eventDate]="eventDate"></app-countdown>
    <div *ngIf="currentActivity" class="text-center">
      <div class="badge mb-4">
        <span class="dot"></span>
        <p class="now-live-text mb-0">Now Live</p>
      </div>
      <app-activity 
        [live]="true"
        [title]="currentActivity.title" 
        [description]="currentActivity.live_description" 
        [actions]="showActivitiesActions ? currentActivity.actions : []"
      ></app-activity>
    </div>

  </div>
</div>
