<section class="section-live min-vh-100 d-flex align-items-center">

  <div class="container">
    <div class="row" *ngIf="currentLiveDisplay == currentLiveService.carusel">
      <app-carousel class="col text-center mx-auto" [files]="files" (lastScrolledPhoto)="getCaruselData($event)"></app-carousel>
    </div>

    <div class="row" *ngIf="currentLiveDisplay == currentLiveService.poll">
      <app-poll-chart [results]="currentPollResults"></app-poll-chart>
    </div>

    <div class="row" *ngIf="event">
      <app-current-status [activities]="event.activities" [eventDate]="event.start_datetime"></app-current-status>
    </div>
  </div>

</section>
