:root {
  --primary-color: #4f4f4f;
  --primary-color-accent: #555555;
  --secondary-color: #eee;
  --secondary-color-accent: #e4e4e4;
  --text-color: #3f3f3f;
  --font-family: "Poppins", sans-serif;
  --border-radius: 3em;
  --animation-time: 2s;
}

html, body {
  height: 100%;
  color: var(--text-color) !important;
  font-family: var(--font-family) !important;
}

body {
}

h1, h2, h3, h4 {
  letter-spacing: 5px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

p, label {
  letter-spacing: 3px;
  font-size: 1em;
  font-weight: normal;
}

.container {
  max-width: 50em;
}

.title {
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  border-radius: var(--border-radius);
}
.form-control {
  border-radius: var(--border-radius);
  background-color: white;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--primary-color);
}

.card {
  border: none;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.alert {
  border-radius: var(--border-radius);
}

.alert-danger {
  border: none;
}

.emoji-big {
  font-size: 6em;
}

img {
  border-radius: var(--border-radius);
}
