<section class=" min-vh-100 d-flex align-items-center">
  <div class="container">

    <div class="text-center">
      <span class="mt-5 emoji-big">📸</span>
      <h2>Galleria</h2>
      <p class="text-center">Tutte le foto dell'evento in un unico posto</p>
    </div>

    <div class="d-flex justify-content-center m-2">
      <button class="btn btn-secondary" (click)="navigateToUpload()">Pubblica Foto</button>
    </div>

    <app-gallery [mediaList]="mediaList"></app-gallery>

  </div>
</section>
